[submodule "related-projects/shadowmountplus"]
	path = related-projects/shadowmountplus
	url = https://github.com/drakmor/ShadowMountPlus
	branch = main
	shallow = true
[submodule "related-projects/pkgtool"]
	path = related-projects/pkgtool
	url = https://github.com/thesupersonic16/PKGTool
	branch = master
	shallow = true
[submodule "related-projects/liborbispkg"]
	path = related-projects/liborbispkg
	url = https://github.com/maxton/LibOrbisPkg
	branch = master
	shallow = true
[submodule "related-projects/kstuff-lite"]
	path = related-projects/kstuff-lite
	url = https://github.com/EchoStretch/kstuff-lite
	branch = main
	shallow = true
